<h1>WooFood</h1>
<h2>Today's specials at Wash U</h2>
<ul>
<% @items.each do |item|
	if(item.last == Date.today)
	 %>
	<li><b><%=item.location%></b>: <%=link_to item.title, item_path(item)%> <i><%=item.calories.round%> calories</i></li>
<% end end %>
</ul>